@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.my-navbar {
    background-color: #f8f9fa;
    padding: 10px 0;
    font-family: 'Poppins';
    color: #000;
    font-size: 12px;
  }
  
  .logo img {
    width: 100px;
    height: auto;
  }
  
  .nav-tab {
    margin: 0 15px;
  }
  
  .navbar-icons .icon {
    margin-left: 20px;
    font-size: 18px;
    color: #333;
  }
  
  .navbar-icons .icon:hover {
    color: #000;
  }
  
  @media (max-width: 768px) {
    .nav-tab {
      font-size: 14px;
      margin: 0 8px;
    }
  
    .navbar-icons .icon {
      margin-left: 10px;
      font-size: 16px;
    }
  }
  