@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.auto-scroll-section {
    background-color: black;
    overflow: hidden; /* Hide overflow */
    padding: 20px 0; /* Add padding */
    font-family: 'Poppins';
    font-weight: 600;
   
  }
  
  .scroll-container {
    display: flex;
    white-space: nowrap; 
    animation: scroll 20s linear infinite; 
    gap:30px;
  }
  
  .logo-item {
    display: flex;
    align-items: center;
    margin-right: 50px; 
    color: white; 
  }
  
  .logo-image {
    width: 50px; 
    height: auto; 
    margin-right: 10px;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(100%); 
    }
    100% {
      transform: translateX(-100%); 
    }
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .logo-item {
      margin-right: 30px; 
    }
  
    .logo-image {
      width: 40px; 
    }
  }
  